.header {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 40px; 
    color: rgb(47, 0, 255); 
    font-weight: 700; 
    text-align: center; 
    background-color: burlywood;
}

.container {
    flex-direction: column;
    height: 180px;
    width: auto;
    padding: 16px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  
  .item {
    width: 80px;
    height: 80px;
    border: 8px solid darkslategray;
    background: rgb(235, 135, 157);
    text-align: center;
    font-weight: bold;
    
  }